@font-face {
    font-family: Salsa_reg;
    src: url(../Resources/Fonts/Salsa-Regular.ttf);
  }

/* @font-face {
font-family: Book_antiqua;
src: url(../Resources/Fonts/ANTQUAB.ttf);
}

@font-face {
font-family: Book_antiqua;
src: url(../Resources/Fonts/ANTQUAB.ttf);
}

@font-face {
    font-family: Book_antiqua;
    src: url(../Resources/Fonts/ANTQUAB.ttf);
    } */

@font-face {
font-family: Book_antiqua;
src: url(../Resources/Fonts/ANTQUAB.ttf);
}


/* ==============
        Global 
    =============*/

    .headings{
        font-family: Salsa_reg;
        color: #FFB750;
        /* margin-bottom: 1em; */
        padding: 1em 1em 0.5em 0;
        font-size: 50px;
        text-shadow: 2px 2px rgba(0,0,0,0.7);
        text-transform: uppercase;
    }
    
    .background_even {
        padding-left: 4%;
        padding-right: 4%;
        min-height: 100vh;
        background-image: linear-gradient(
            to bottom right,
            rgba(183, 33, 255, 0.5),
            rgba(8, 174, 234, 0.5),
            rgba(42, 245, 152, 0.3)
        );
    }
    
    .background_odd {
        padding-left: 4%;
        padding-right: 4%;
        min-height: 100vh;
        background-image: linear-gradient(
            to top right,
            rgba(183, 33, 255, 0.5),
            rgba(8, 174, 234, 0.5),
            rgba(42, 245, 152, 0.3)
        );
        }  


#features{
    width: 100%;  
    /* background-color: aquamarine; */
    position: relative;

}

#features_heading{
    padding-bottom: 2%;
    background-image: linear-gradient(
    to right,
    rgba(183, 33, 255, 0.5),
    rgba(8, 174, 234, 0.5)
  );
}

#features_h1{
    font-family: Salsa_reg;
    color: #F2EA02;
    padding: 4% 2% 0% 6%;
    font-size: 3em;
    text-shadow: 2px 2px black;
    margin: 0%;
}

.feature_set{
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 15%;
}

.feature_set_1, .feature_set_3{
    background-image: linear-gradient(
        to bottom right,
        rgba(183, 33, 255, 0.5),
        rgba(8, 174, 234, 0.5),
        rgba(42, 245, 152, 0.3));
}

.odd_feature::before{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0% 3% 0% 3%;
    background-image: url('../Components/features/featurebox1.svg');
    filter: blur(30%);
    opacity: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    z-index: 1;
    height: 50%;
    /* background-color: #0E538C; */
}

.feature_container1{
    width: 90%;
    margin: 0% 2%;
    z-index: 2;
    position: relative;
    margin-bottom: 10%;
}

#features .odd_feature .col-8{
    padding-top: 5%;
}

.feature_set_1 .feature_container1 .features_image{
    position: absolute;
    top: -10%;
    left: 15%;
    float: right;
}

.features_bullet_point{
    position: relative;
    width: 5%;
    margin-top: -0.5%;
}

.features_titles{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0E538C;
    font-size: 2vw;
    padding: 0% 0% 5% 0%;
}

.features_texts{
    font-family: Book_antiqua;
    font-size: 1.3vw;
    line-height: 80%;
    color: #360151;
}

.even_feature::before{
    position: absolute;
    top: 45%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0% 3%;
    background-image: url('../Components/features/featurebox2.svg');
    filter: blur(30%);
    opacity: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    z-index: 1;
    height: 50%;
    /* background-color: #F2EA02; */
}

.feature_container2{
    position: relative;
    width: 90%;
    margin: 0% 2%;
    z-index: 2;
}

.feature_set_1 .feature_container2 .features_image{
    position: absolute;
    top: 20%;
    left: 3%;
    float: left;
    transform: scale(1.02);
}

.even_feature .col-8{
    position: relative;
    text-align: end;
    left: 5%;
    /* background-color: aqua; */
}

.feature_set_1 .features_titles_even{
    margin-top: 15%;
}

.feature_set_2{
    background-image: linear-gradient(
    to top right,
    rgba(183, 33, 255, 0.5),
    rgba(8, 174, 234, 0.5),
    rgba(42, 245, 152, 0.3));
}

.feature_set_2 .feature_container1 .features_image{
    position: absolute;
    top: -10%;
    left: 15%;
    float: right;
}

.feature_set_2 .features_titles_odd{
    margin-top: 3%;
}

.feature_set_2 .features_titles_even{
    margin-top: 20%;
}

.feature_set_2 .feature_container2 .features_image{
    position: absolute;
    top: 25%;
    left: 3%;
    float: left;
    transform: scale(1.02);
}

.feature_set_3 .feature_container1 .features_image{
    position: absolute;
    top: -2%;
    left: 10%;
    float: right;
    transform: scale(1.15);
}

.feature_set_3 .features_titles_even{
    margin-top: 11%;
}

.feature_set_3 .feature_container2 .features_image{
    position: absolute;
    top: 12%;
    left: 3%;
    float: left;
    transform: scale(1.02);
}





/* =================
        Services
  ================== */

  #services_heading{
    text-align: right;
}

/* .services_images{
    position: relative;
} */

.services_notes img{
    margin: 5% 0;
}
.services_images img{
    margin: 15% 2%;
}

/* =================
        Our Team
  ================== */


#team_heading{
    text-align: center;
    font-weight: 100;
}

.row{
    display: flex;
    justify-content: space-between;
}

.each_member{
    text-align: center;
}

.member_pic img{
    align-items: center;
    background-color: white;
    height: 40vh;
    width: 40vh;
    margin: 0 0 2% 0;
}

/* #row1 .member_pic img{
    height: 70%;
    width: 70%;
} */

/* #row2 .member_pic img{
    height: 44.5%;
    width: 44.5%;
} */

.member_name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 0 0;
}

.member_details{
    padding: 0;
    margin: 0;
    font-family: Georgia;
}


.members_social_media_links{
    display: flex;
    justify-content: center;
    margin: 3% 0 20% 0;
}

.social_media_links{
    background-color: #0E538C;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 3%;
    
}
.social_media_links:hover{
    cursor: pointer;
}

.social_icons{
    height: 1.5em;
    width: 1.5em;
    margin: 0.7rem;
}

/* =================
        Statistics
  ================== */

.statistics_body .background_even{
    height: 50vh;
}
.each_stat {
    position: relative;
    background-color: red;
}
.triangle_div{
    position: absolute;
    text-align: center;
    background-color: blue;
    /* z-index: -1; */
}
.stat_triangles{
    height: 80%;
    width: 80%;
    opacity: 50%;
    min-height: 300px;
    min-width: 300px;

}
.each_stat p{
    position: relative;
    z-index: 0;
}
.stat_no{
    font-family: Stencil;
    font-size: 6em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.stat_name{
    font-family: Book_antiqua;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin: 0;
}

#working_hour_name{
    margin: -8% 0 0 0;
    line-height: 1em;
}

