@font-face {
    font-family: Salsa_reg;
    src: url(../Resources/Fonts/Salsa-Regular.ttf);
  }

/* @font-face {
font-family: Book_antiqua;
src: url(../Resources/Fonts/ANTQUAB.ttf);
}

@font-face {
font-family: Book_antiqua;
src: url(../Resources/Fonts/ANTQUAB.ttf);
}

@font-face {
    font-family: Book_antiqua;
    src: url(../Resources/Fonts/ANTQUAB.ttf);
    } */

@font-face {
font-family: Book_antiqua;
src: url(../Resources/Fonts/ANTQUAB.ttf);
}



#features_h1{
    font-family: Salsa_reg;
    color: #FFB750;
    /* margin-bottom: 1em; */
    padding: 0.1em 1em 0.5em 0;
    font-size: 50px;
}

.features_odd {
    padding-left: 4%;
    padding-right: 4%;
    height: 100vh;
    background-image: linear-gradient(
        to bottom right,
        rgba(183, 33, 255, 0.5),
        rgba(8, 174, 234, 0.5),
        rgba(42, 245, 152, 0.3)
    );
    }

    .features_even {
        padding-left: 4%;
        padding-right: 4%;
        height: 100vh;
        background-image: linear-gradient(
            to top right,
            rgba(183, 33, 255, 0.5),
            rgba(8, 174, 234, 0.5),
            rgba(42, 245, 152, 0.3)
        );
        }    
    
.features_background_odd{
    background-image: url("../Components/features/featurebox1.svg");
    /* opacity: 50%; */
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
}

.features_tiles{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.features_bullet_point{
    height:32px;
    width: 32px;
}

.features_texts{
    font-family: Book_antiqua;
}
.features_image{
    height: 15em;
    width: 15em;
}