@font-face {
  font-family: TektonPro-Bold;
  src: url(../Resources/Fonts/TektonPro-Bold.otf);
}

@font-face {
  font-family: StardosStencil-Bold;
  src: url(../Resources/Fonts/StardosStencil-Bold.ttf);
}

body {
  height: 100%;
  width: 100%;
}

/* Section-1: Introductory Landing */

body #Landing_Introduction {
  padding-left: 4%;
  padding-right: 4%;
  height: 100vh;
  background-image: linear-gradient(
    to top right,
    rgba(183, 33, 255, 0.5),
    rgba(8, 174, 234, 0.5),
    rgba(42, 245, 152, 0.3)
  );
}

body section .Banner {
  width: 100%;
  height: 8%;
  padding-top: 1%;
}

body section div span.Registration_Buttons {
  float: right;
  width: 9%;
  height: 100%;
  border: 3px solid #ffb750;
  background-color: #f2ea02;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-left: 1%;
  font-family: "Times New Roman";
  font-weight: 800;
  font-size: 1.5vw;
  color: #0b4870;
  transition: 0.4s;
}

body section div span.Registration_Buttons:hover {
  background-color: transparent;
  border: 3px solid #0b4870;
  cursor: pointer;
}

body section .Landing_Body_Introduction {
  margin: 0%;
  padding: 0%;
  margin-top: 6%;
  overflow: hidden;
  height: 80%;
}

body section .Landing_Body_Introduction .Project_Name {
  padding-left: 5%;
  display: inline-block;
  justify-content: left;
}

body section .Landing_Body_Introduction .Project_Name .name_1 {
  font-family: TektonPro-Bold;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 8vh;
}

body section .Landing_Body_Introduction .Project_Name .name_2 {
  font-family: StardosStencil-Bold;
  margin-left: -10px;
  margin-right: -10px;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 8vh;
}

body section .Landing_Body_Introduction .Landing_Text_Container {
  margin-top: 10%;
  width: 90%;
}

body section .Landing_Body_Introduction .Landing_Text_Container img {
  z-index: 1;
  filter: blur(30%);
  opacity: 50%;
}

body section .Landing_Body_Introduction .Landing_Box {
  width: 88%;
  height: 45%;
  position: absolute;
  z-index: 2;
  text-align: center;
  justify-content: center;
}

body section .Landing_Body_Introduction .Landing_Box .Line_1 {
  font-family: "Segoe UI";
  font-size: 2.5vh;
  font-weight: bold;
  color: black;
  padding-bottom: 1.5vh;
}

body section .Landing_Body_Introduction .Landing_Box .Line_2 {
  font-family: "Segoe UI";
  font-size: 3vh;
  font-weight: bolder;
  color: #1a03f7;
  padding-top: 1vh;
  padding-bottom: 1.5vh;
}

body section .Landing_Body_Introduction .Landing_Box .Line_3 {
  font-family: "Segoe UI";
  font-size: 2.5vh;
  font-weight: bold;
  color: black;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

body section .Landing_Body_Introduction .Landing_Box .Line_4 {
  font-family: "Franklin Gothic Medium";
  font-size: 3vh;
  color: #0b4870;
  padding-top: 2vh;
}

body section .Landing_Body_Introduction .support-team-svg img {
  float: right;
  width: 90%;
}

/* xx-- Section-1: Introductory Landing --xx */

/* Section-5: Footer */

#footer{
  padding: 2% 5%;
  background-color: #0b4870;
  color: white;
  padding-bottom: 1%;
}

.footer_name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F2B50B;
  border: #F2B50B;
  font-size: 8vh;
  font-style:italic;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.subscribe{
  margin-bottom: 5%;
  width: 60%;
}

.subscribe-btn{
  margin: 0%;
  height: 100%;
  border: 3px solid #ffb750;
  background-color: #f2ea02;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  margin-left: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 100%;
  color: #0b4870;
  transition: 0.4s;
}

.subscribe-btn:hover{
  background-color: transparent;
  border: 3px solid  #ffb750;
  color: #f2ea02;
  cursor: pointer;
}

.footer_text1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F2B50B;
  border: #F2B50B;
  font-size: 1.2rem;
  margin-top: 8%;
}

.click_here{
  width: 15%;
  height: 100%;
  border: 3px solid #ffb750;
  background-color: #f2ea02;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-left: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 100%;
  color: #0b4870;
  transition: 0.4s;
}

.click_here:hover{
  background-color: transparent;
  border: 3px solid  #ffb750;
  color: #f2ea02;
  cursor: pointer;
}

.underline_yellow{
  text-decoration: underline;
  text-decoration-color: #F2B50B;
}

.contact_us ul{
  list-style: none;
  padding-left: 0%;
}

.terms{
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
}

.underline_pointer{
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 7px;
}

#footer .social-media-icons{
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  margin: 0%;
  height: 5rem;
}

#footer .social-media-icons :hover{
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;  
}

/* xx-- Section-5: Footer --xx */