@font-face {
  font-family: TektonPro-Bold;
  src: url(../Resources/Fonts/TektonPro-Bold.otf);
}

@font-face {
  font-family: StardosStencil-Bold;
  src: url(../Resources/Fonts/StardosStencil-Bold.ttf);
}

body #Landing_Introduction {
  padding-left: 4%;
  padding-right: 4%;
  height: 100vh;
  background-image: linear-gradient(
    to top right,
    rgba(183, 33, 255, 0.5),
    rgba(8, 174, 234, 0.5),
    rgba(42, 245, 152, 0.3)
  );
}

body section .Banner {
  width: 100%;
  overflow: hidden;
}

body section div span.Registration_Buttons {
  float: right;
  width: 110px;
  height: 45px;
  border: 3px solid #ffb750;
  background-color: #f2ea02;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 1%;
  font-family: "Times New Roman";
  font-weight: 800;
  font-size: x-large;
  color: #0b4870;
  transition: 0.4s;
}

body section div span.Registration_Buttons:hover {
  background-color: transparent;
  border: 3px solid #0b4870;
  cursor: pointer;
}
body section .Landing_Body_Introduction {
  overflow: hidden;
  height: 70vh;
  margin-top: 8rem;

  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

body section .Landing_Body_Introduction .Project_Name {
  grid-row: 1/1.5;
  grid-column: 1/6;
  margin-left: 5%;
}

body section .Landing_Body_Introduction .Project_Name .name_1 {
  font-family: TektonPro-Bold;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 1.5em;
}

body section .Landing_Body_Introduction .Project_Name .name_2 {
  font-family: StardosStencil-Bold;
  margin-left: -10px;
  margin-right: -10px;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 1.5em;
}

body section .Landing_Body_Introduction .Landing_Text_Container {
  grid-column: 1/6;
  margin-top: 4rem;
  text-align: center;
  padding: 1%;
}

body section .Landing_Body_Introduction .Landing_Text_Container .Landing_Box {
  position: absolute;
  background-image: url("../Components/Landing_Box.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 285px;
  width: 50%;
  z-index: 1;
  filter: blur(30%);
  opacity: 50%;
}

body section .Landing_Body_Introduction .Landing_Text_Container .Landing_Text {
  z-index: 2;
  position: relative;
  padding-top: 1%;
  margin-left: 15px;
}

body section .Landing_Body_Introduction .Landing_Text .Line_1 {
  font-family: "Segoe UI";
  font-size: large;
  font-weight: bold;
  padding: 10px;
  color: black;
  padding-bottom: 20px;
}

body section .Landing_Body_Introduction .Landing_Text .Line_2 {
  font-family: "Segoe UI";
  font-size: larger;
  font-weight: bolder;
  color: #1a03f7;
  padding: 10px;
  padding-bottom: 20px;
}

body section .Landing_Body_Introduction .Landing_Text .Line_3 {
  padding-left: 50px;
  padding-right: 50px;
}

body section .Landing_Body_Introduction .Landing_Text .Line_4 {
  font-family: "Franklin Gothic Medium";
  font-size: x-large;
  color: #0b4870;
  padding: 10px;
}

body section .Landing_Body_Introduction .support-team-svg {
  grid-column: 7/11;
  grid-row: 1/7;
}

body section .Landing_Body_Introduction .support-team-svg img {
  height: 100%;
  float: right;
}
