@font-face {
  font-family: TektonPro-Bold;
  src: url(../Resources/Fonts/TektonPro-Bold.otf);
}

@font-face {
  font-family: StardosStencil-Bold;
  src: url(../Resources/Fonts/StardosStencil-Bold.ttf);
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Section-1: Introductory Landing */

body #Landing_Introduction {
  position: relative;
  margin: 0%;
  overflow: hidden;
  padding-left: 4%;
  padding-right: 4%;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    rgba(183, 33, 255, 0.5),
    rgba(8, 174, 234, 0.5),
    rgba(42, 245, 152, 0.3)
  );
}

body section .Banner {
  position: relative;
  width: 100%;
  height: 8%;
  margin-top: 2%;
}

.Registration_Buttons {
  float: right;
  width: 9%;
  border: 3px solid #ffb750;
  background-color: #f2ea02;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-left: 1%;
  font-family: "Times New Roman";
  font-weight: 800;
  font-size: 1.5vw;
  color: #0b4870;
  transition: 0.4s;
}

.Registration_Buttons:hover {
  background-color: transparent;
  border: 3px solid #0b4870;
  cursor: pointer;
}

.Landing_Body_Introduction {
  position: relative;
  /* background: greenyellow; */
  width: 100%;
  height: 100%;
  padding: 5% 0%;
}

.Project_Name {
  display: inline-block;
  justify-content: left;
}

.Project_Name .name_1 {
  font-family: TektonPro-Bold;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 4vw;
}

.Project_Name .name_2 {
  font-family: StardosStencil-Bold;
  margin-left: -10px;
  margin-right: -10px;
  color: #0b4870;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
  font-size: 4vw;
}

.Landing_Text_Container{
  text-align: center;
  width: 88%;
  /* background: #0b4870; */
  margin-top: 5vw;
}

.Landing_Text_Container::before{
  position: absolute;
  top: 25%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('../Components/Landing_Box.svg');
  filter: blur(30%);
  opacity: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  content: ' ';
  z-index: 1;
}

.Landing_Text_Container p{
  position: relative;
  z-index: 2;
  margin: 0%;
}

body section .Landing_Body_Introduction .Line_1 {
  font-family: "Segoe UI";
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
  padding-bottom: 3%;
}

body section .Landing_Body_Introduction .Line_2 {
  font-family: "Segoe UI";
  font-size: 1.4vw;
  font-weight: bolder;
  color: #1a03f7;
  padding-bottom: 3%;
}

body section .Landing_Body_Introduction .Line_3 {
  font-family: "Segoe UI";
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
  padding-bottom: 3.5%;
}

body section .Landing_Body_Introduction .Line_4 {
  font-family: "Franklin Gothic Medium";
  font-size: 1.5vw;
  color: #0b4870;
}

body section .Landing_Body_Introduction .support-team-svg img {
  float: right;
  width: 90%;
} 
