@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Resources/Endless-Constellation.svg);
}

.form {
  background: gainsboro;
  opacity: 20%;
  z-index: 1;
  width: 400px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  text-align: center;
  padding: 2%;
  border-radius: 15px;
  transition: transform 1s,  opacity 1s;
}
.form:hover {
  opacity: 100%;
  background: linear-gradient(to bottom right, #ccccff, #b3ecff, #ccccff);
  transform: scale(1.2);
  transition: transform 1s,  opacity 1s;
}

.form i {
  z-index: 1;
  color: white;
  font-size: 65px;
  margin-bottom: 30px;
}

.form .user-input {
  position: inherit;
  width: 340px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}

.form .options-01 {
  margin-bottom: 50px;
}

.form .options-01 input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form .options-01 .remember-me {
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.form .options-01 a {
  color: black;
  font-size: 14px;
  font-style: cursive;
  float: right;
}

.login_container {
  padding: 30px 5px 5px 5px;
}

.form .btn {
  background: #4285f4;
  width: 320px;
  height: 55px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .btn:hover {
  border-left: solid 8px blue;
  border-right: solid 8px blue;
}

.form .options-02 {
  color: black;
  font-size: 14px;
  margin-top: 30px;
  font-size: large;
}

.form .options-02 a {
  color: blue;
  font-weight: bold;
}

/* Responsive CSS */

@media screen and (max-width: 500px) {
  .form {
    width: 95%;
  }

  .form .user-input {
    width: 100%;
  }

  .form .btn {
    width: 100%;
  }
}
