@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to top right,
    rgba(183, 33, 255, 0.5) 20%,
    rgba(8, 174, 234, 0.5),
    rgba(42, 245, 152, 0.3)
  );
}

/* .form::before{
  position: absolute;
  background-image: url('../Components/Landing_Box.svg');
  filter: blur(30%);
  opacity: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
} */

.form {
  z-index: 1;
  width: 400px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  text-align: center;
  padding: 2%;
  border-radius: 15px;
  transition: transform 1s,  opacity 1s;
  background-color: #fff;
  background-image: linear-gradient(
    to top right,
    rgba(183, 33, 255, 0.7),
    rgba(8, 174, 234, 0.7),
    rgba(42, 245, 152, 0.2)
  );
  filter: blur(30%);
}
/* .form:hover {
  opacity: 100%;
  background: linear-gradient(to bottom right, #ccccff, #b3ecff, #ccccff);
  transform: scale(1.2);
  transition: transform 1s,  opacity 1s;
} */

.form i {
  z-index: 1;
  color: white;
  font-size: 65px;
  margin-bottom: 30px;
}

.form .user-input {
  position: inherit;
  width: 340px;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}

.form .options-01 {
  margin-bottom: 50px;
}

.form .options-01 input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.form .options-01 .remember-me {
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.form .options-01 a {
  color: black;
  font-size: 14px;
  font-style: cursive;
  float: right;
}

.login_container {
  padding: 30px 5px 5px 5px;
}

.form .btn {
  background: #4285f4;
  width: 320px;
  height: 55px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: border-left, border-right, box-shadow;
}

.form .btn:hover {
  border-left: solid 8px blue;
  border-right: solid 8px blue;
}

.form .options-02 {
  color: black;
  font-size: 14px;
  margin-top: 30px;
  font-size: large;
}

.form .options-02 a {
  color: darkblue;
  font-weight: 900;
  font-size: medium;
}

/* Responsive CSS */

@media screen and (max-width: 500px) {
  .form {
    width: 95%;
  }

  .form .user-input {
    width: 100%;
  }

  .form .btn {
    width: 100%;
  }
}
