body{
    background-image: url('resources/5.jpg');
    background-size: cover;
    background-position: center;
}
h1{
    margin-top: 1%;
}
#form_body1{
    /* background-color: rgba(0, 0, 0, 0.3); */
    border: 1px solid rgba(0, 0, 0);
    border-radius: 15px 15px 0 0;
    width: 45em;
    font-family: 'Balsamiq Sans', cursive;
    padding: 0;
    color: white;
    border-style: none;
    margin-top: 2%;
    

}
#form_body2{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    /* border-radius: 20px; */
    width: 45em;
    font-family: 'Balsamiq Sans', cursive;
    padding: 10px;
    color: white;
    margin-bottom: 8%;

}

#head{
    background-color: rgb(0, 0, 0, 0.6);
    margin: 0;
    padding: 6px;
    padding-left: 30px;
    width: inherit;
    border-radius: 15px 15px 0 0;
    color: white;
}

.input-area,select{
    width: 100%;
    height: 35px;
    margin: 0.1em 0;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
    
}

label,h6,p,h2{
    font-family: 'Balsamiq Sans';
}

#terms{
    float: right;
}

/* #sel-1{
    font-weight: lighter;
} */

.btn-success{
    background-color: #3BAF9F;
    color: white;
    border: none;

}